/*flat buttons*/
.default-button {height: 36px}
.dense-button {height: 32px;font: 500 13px 'Roboto', sans-serif;text-transform: uppercase}
.default-button,.dense-button {padding: 0 16px;border-radius: 2px;min-width: 64px;margin: 8px}

/*action button*/
.action-button {width: 56px; height: 56px}
.action-button .mini {width: 40px; height: 40px}
.action-icon, {width: 24px; height: 24px}
@media screen and (max-width: 460px) {
  .action-button {width: 40px; height: 40px}
  }
